HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
*.mp3

# 忽略環境變數設定檔
.vscode/launch.json
env.sh

# 忽略 Google Cloud SDK
google-cloud-sdk/


# 忽略 Maven 編譯產出 (如果有缺的話)
target/
*.class

# 忽略其他常見的垃圾檔
.DS_Store